{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-3 text-center">Listado de viaxes</h2>
    <form action="{{ path('viaxe_buscar') }}" method="get" class="d-flex mb-3">
        <input type="text" name="busqueda" placeholder="Buscar en viaxes..." class="form-control me-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Destino</th>
                <th>Data</th>
                <th>Duración (días)</th>
                <th>Motivo</th>
                <th>Transporte</th>
                <th>Aloxamento</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for viaxe in viaxes %}
                <tr>
                    <td>{{ viaxe.id }}</td>
                    <td>{{ viaxe.destino }}</td>
                    <td>{{ viaxe.data|date('d-m-Y') }}</td>
                    <td>{{ viaxe.duracion }}</td>
                    <td>{{ viaxe.motivo ?: '-' }}</td>
                    <td>{{ viaxe.transporte }}</td>
                    <td>{{ viaxe.aloxamento ?: '-' }}</td>
                    <td><a href="{{ path('detalle_viaxe', {'id': viaxe.id}) }}" class="btn btn-info btn-sm">Ver</a></td>
                    <td><a href="{{ path('editar_viaxe', {'id': viaxe.id}) }}" class="btn btn-success btn-sm">Editar</a></td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" onclick="eliminarViaje({{ viaxe.id }})">Eliminar</a>
                        <form id="delete-form-{{ viaxe.id }}" action="{{ path('eliminar_viaxe', {'id': viaxe.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="_token" value="{{ csrf_token('eliminar' ~ viaxe.id) }}">
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center">No hay viaxes registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
        <div class="text-center">
            <a href="{{ path('crear_viaxe') }}" class="btn btn-success btn-sm mt-1 mb-3">Crear</a>
        </div>
        <div class="text-center">
            <a href="{{ path('estadisticas_viaxes') }}" class="btn btn-success btn-sm mt-1 mb-3">Estadísticas</a>
        </div>
</div>
<div class="text-center my-3">
        <form method="post" action="{{ path('app_logout') }}">
            <button class="btn btn-lg btn-secondary align-self-center mt-5" type="submit">Pechar sesión</button>
        </form>
        </div>
{% endblock %}